.cards>ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;


  &>li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 0.0625rem solid var(--border-color);
    gap: 0.5rem;
    opacity: 1;
    border-radius: 1.5rem;
    border-width: 0.0625rem;
    padding: 2.5rem;
    background: var(--background-color);


    &>.cards-card-body>p {
      font-weight: var(--font-weight-700);
      font-size: 1.125rem;
      line-height: 100%;
      text-align: center;
      margin: 0;
    }

    &.cards-card-image {
      width: 3.5rem;
      height: 3.5rem;
      top: 2.5rem;
      left: 7.1563rem;
      opacity: 1;
    }
  }
}

.cards.two-column>ul {
  grid-template-columns: 1fr;
}

.cards.three-column>ul {
  grid-template-columns: 1fr;
}

.cards:not(.two-column, .three-column)>ul {
  grid-template-columns: 1fr;
}

@media (width >= 768px) {
  .cards>ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .cards.two-column>ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .cards.three-column>ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .cards:not(.two-column, .three-column)>ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width >= 853px) {
  .cards>ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .cards.two-column>ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .cards.three-column>ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .cards:not(.two-column, .three-column)>ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width >= 1024px) {
  .cards>ul {
    grid-template-columns: repeat(auto-fill, minmax(16.0625rem, 1fr));
  }

  .cards.two-column>ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .cards.three-column>ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .cards:not(.two-column, .three-column)>ul {
    grid-template-columns: repeat(4, 1fr);
  }
}