.relatedtags.block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.relatedtags.block > div:first-child {
  flex-basis: 100%;
  margin-bottom: 0.625rem;
}

/* Base style for tag items */
.relatedtags.block > div:not(:first-child) {
  display: flex;
  align-items: center;
  margin-right: 1.125rem;
  position: relative;
  padding-left: 0.938rem;
}

/* Remove left padding for first tag item (second child) */
.relatedtags.block > div:nth-child(2) {
  padding-left: 0;
}

/* Add vertical divider to left of all except the first tag */
.relatedtags.block > div:not(:first-child, :nth-child(2))::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0.063rem;
  height: 0.938rem;
  background-color: var(--color-black);
}

.relatedtags.block > div p {
  color: var(--color-neutral-900);
  font-feature-settings: 'liga' off;
  font-family: var(--font-regular), sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: var(--font-weight-600);
  line-height: 140%;
  margin: 0;
}

.relatedtags.block a {
  color: var(--color-black);
  font-family: var(--font-regular), sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: var(--font-weight-400);
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  background-color: transparent;
  margin: 0;
}