.accordion details {
  border-bottom: 0.063rem solid var(--color-neutral-300);
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion details + details {
  margin-top: 1.5rem;
}

.accordion details p {
  margin-bottom: 0.8em;
  padding-left: 1.25rem;
  font-family: var(--font-regular);
  font-size: 1rem;
  font-style: normal;
  line-height: 150%;
}

.accordion details summary {
  position: relative;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
  padding: 0;
}

.accordion details summary::-webkit-details-marker {
  display: none;
}

.accordion details summary::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0.125rem;
  transform: translateY(-50%) rotate(135deg);
  width: 0.375rem;
  height: 0.375rem;
  border: 0.125rem solid;
  border-width: 0.125rem 0.125rem 0 0;
  transition: transform 0.2s;
}

.accordion details[open] summary::after {
  transform: translateY(-50%) rotate(-45deg);
}

.accordion details summary p {
  color: var(--color-black);
  font-weight: var(--font-weight-600);
}

.accordion details .accordion-item-body {
  padding: 0;
}

.accordion details .accordion-item-body p {
  color: var(--color-neutral-1000);
  font-weight: var(--font-weight-400);
}

.accordion details:not([open]) .accordion-item-body {
  display: none;
}
