/* suppress nested section padding */
.fragment-wrapper > .section {
  padding-left: 0;
  padding-right: 0;
}

.fragment-wrapper > .section:first-of-type {
  padding-top: 0;
}

.fragment-wrapper > .section:last-of-type {
  padding-bottom: 0;
}

.fragment.block {
  display: none;
}

/* custom style */
.section.flex-col-8-2.gray-bg .fragment-wrapper .section.category-links-container.product-cards-container{
  border-radius: 1rem;
  background: var(--color-white);
  padding: 1rem 1rem 1.5rem;
}