/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import url("./article-sidebar.css");

:root {
  /* fonts */
  --body-font-family: roboto, roboto-fallback, sans-serif;
  --heading-font-family: roboto-condensed, roboto-condensed-fallback, sans-serif;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;

  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 44px;
  --heading-font-size-l: 34px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;

  /* nav heights */
  --nav-height: 64px;
  --breadcrumbs-height: 34px;
  --header-height: var(--nav-height);

  /* Typography */
  --font-regular: "GilmerRegular", sans-serif;
  --font-medium: "GilmerMedium", sans-serif;
  --font-bold: "GilmerBold", sans-serif;
  --font-heavy: "GilmerHeavy", sans-serif;
  --font-size-xs: 0.65rem;
  --font-size-xxs: 0.625rem;
  --font-size-xxxs: 0.6875rem;
  --font-size-s: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-xl: 1.125rem;
  --font-size-xxl: 1.25rem;
  --font-size-xxxl: 1.5rem;

  /* Common colors */
  --color-white: #fff;
  --color-black: #000;
  --color-text-primary: #2e2a94;
  --color-text-secondary: #2f7ef4;
  --color-border: #ddd;
  --color-error: #d93025;
  --color-primary-yellow: #ffcb08;
  --color-golden-yellow: #ffcb09;
  
  /* Notification specific colors */
  --color-notification-bg: #f2f2f2;
  --color-notification-border: #e9ecef;
  --color-notification-text: #212529;
  --color-notification-timestamp: #8A8A8A;
  --color-scrollbar-track: #f1f1f1;
  --color-scrollbar-hover: #e6b800;
  
  /* Header specific colors */
  --color-header-text: #1a1a1a;
  --color-header-border: #e0e0e0;
  --color-header-button-border: #666868;
  --color-header-badge-bg: #212529;
  --color-sidebar-border: #dadada;
  --color-scrollbar-hover-alt: #e6b708;

  /* Neutral colours */
  --color-neutral-100: #f7f7f7;
  --color-neutral-300: #e6e6e6;
  --color-neutral-500: #ccc;
  --color-neutral-600: #aaa;
  --color-neutral-700: #8a8a8a;
  --color-neutral-800: #666;
  --color-neutral-900: #333;
  --color-neutral-1000: #121212;
  --background-color: var(--color-white);
  --light-color: #F2F2F2;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;
  --overlay-background-color: lightgrey;
  --border-color: var(--color-primary-yellow);

    /* Light Colors */
    --color-soft-gray: #E5E5E5;
    --color-light-soft-gray: #D5D5D5;

    /* Border Neutral colours */
    --border-color-neutral-900: #393939;

    /* Font Weights */
    --font-weight-100: 100;
    --font-weight-200: 200;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;
    --font-weight-900: 900;

    /* Spacing */
    --space-xs: 0.25rem;
    --space-sm: 0.5rem;
    --space-s: 0.75rem;
    --space-m: 0.845rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;

    /* Primary Colors */
    --page-bg-color: #fff;
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--font-regular);
    font-size: var(--font-size-base);
    color: var(--color-neutral-900);
    background-color: var(--page-bg-color);
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

body.appear {
  display: block;
}

header {
  height: var(--header-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

@media (width >= 900px) {
  body[data-breadcrumbs] {
    --header-height: calc(var(--nav-height) + var(--breadcrumbs-height));
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 var(--space-md);
  line-height: 1.4;
  font-family: var(--font-medium);
  font-weight: var(--font-weight-600);
  color: var(--color-neutral-900);
  margin-top: 0.8em;
}

h1 {
  font-size: var(--font-size-xxl);
  font-family: var(--font-regular);
  font-weight: var(--font-weight-400);
}

h2 {
  font-size: var(--font-size-xl);
  font-family: var(--font-bold);
  font-weight: var(--font-weight-700);
}

h3 {
  font-size: var(--font-size-base);
}

h4 {
  font-size: var(--font-size-sm);
}

h5 {
  font-size: var(--font-size-s);
}

h6 {
  font-size: var(--font-size-xs);
}

dl,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

strong {
  font-family: var(--font-bold);
}

small {
  font-size: var(--font-size-sm);
}

ul,
ol {
  margin: 0 0 var(--space-md) var(--space-lg);
  padding: 0;
}

li {
  margin-bottom: var(--space-xs);
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main > .section {
  margin: 40px 0;
}

main > .section > div {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

main > .section:first-of-type {
  margin-top: 0;
}

@media (width >= 900px) {
  main > .section > div {
    padding: 0 32px;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}

/* Targetting image in article info page */
body.article-layout .default-content-wrapper p picture img[width="556"][height="221"] {
  width: 752px !important;
  height: 299px !important;
  border-radius: 16px !important;
  object-fit: cover !important;
}
